.wrapper {
  margin-top: 60px;
}

.wrapper-top-card {
  margin-top: 18px;
}

.cursor {
  cursor: pointer;
}

.details-card {
  display: inline-grid;
}

.details {
  font-weight: bold;
  text-decoration: underline;
}
